<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Anuj/Desktop/PetStoreRestAssured/PetStoreRestAssuredProject">
        <classes>
<!--            <class name="api.test.DDTests">-->
<!--            <methods>-->
<!--                <include name="testPostuser"/>-->
<!--                <include name="testDeleteUserByName"/>-->
<!--            </methods>-->
<!--        </class>-->
<!--            <class name="api.test.userTest">-->
<!--                <methods>-->
<!--                    <include name="testPostUser"/>-->
<!--                    <include name="testGetUserByName"/>-->
<!--                    <include name="testUpdateUserByName"/>-->
<!--                    <include name="testDeleteUserByName"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="api.test.userTest2">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>

            <class name="api.test.PetTests">
                <methods>
                    <include name="testPostPet"/>
                    <include name="testGetPetById"/>
                    <include name="testUpdatePetById"/>
                    <include name="testDeletePetById"/>
                </methods>
            </class>
            <class name="api.test.StoreTests">
                <methods>
                    <include name="testPostOrder"/>
                    <include name="testGetOrderById"/>
                    <include name="testGetInventory"/>
                    <include name="testDeletePetById"/>
                </methods>
            </class>
        </classes></test></suite>